# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/

# CatBoost
catboost_info/

# Logs
*.log

# Scrapper files
files/*

# all datasets for now
# datasets/*

# large datasets
datasets/statsbomb_events.csv
datasets/final_player_stats.csv
chaff/*